<template name="index">
  <header class="top-header">
    <h1 class="ui header centered">Ethereal</h1>
  </header>
  {{#if showChatroom}}
    <div class="overlay">
      <section class="ui feed">
        {{> chatroom}}
      </section>
    </div>
  {{/if}}
  <section class="ui cards grid container centered columns">
    {{#each chatrooms}}
      {{> roomItems}}
    {{/each}}
  </section>
</template>

<template name="roomItems">
  <article class="ui card grid-item join-chat">
    <div class="content">
      <div class="header">
        <h2 class="trend-name">{{name}}</h2>
      </div>
      <div class="meta">
        <p>1 day Trending</p>
      </div>
    </div>
    <div class="content">
      <div class="ui small feed">
        <div class="content card-activity-content">
          {{#each messages}}
            <div class="event">
              <div class="content">
                <div class="summary">
                  <p>{{message}}</p>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </article>
</template>
