<template name="chatroom">
  <header>
    <h1>
      <a href>{{name}}</a>
      <a href id="exitChatroom"><i class="remove icon"></i></a>
    </h1>
    <div class="meta">
      <p>{{trendingDuration}}</p>
    </div>
  </header>
  <ul>
    {{#each entries}}
      {{#if isTweet}}
        {{> tweet}}
      {{else}}
        {{> message}}
      {{/if}}
    {{/each}}
  </ul>
  <footer>
    <form method="POST" class="ui centered container">
      <div class="ui fluid input">
        <input type="text" name="message">
      </div>
    </form>
  </footer>
</template>

<template name="message">
  <li>
    <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_4_normal.png" alt="" class="avatar">
    <p>{{message}}</p>
    <span>{{timestamp}}</span>
  </li>
</template>

<template name="tweet">
  <li>
    <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="" class="avatar">
    <span>{{timestamp}}</span>
  </li>
</template>
