<template name="chatroom">
  <header>
    <h1>
      <a href>{{name}}</a>
      <a href id="exitChatroom"><i class="remove icon"></i></a>
    </h1>
  </header>
  <ul class="chatroom">
    {{#each entries}}
      {{#if isTweet}}
        {{> tweet}}
      {{else}}
        {{> message}}
      {{/if}}
    {{/each}}
  </ul>
  <footer>
    <form method="POST">
      <input type="text" name="message">
      <button type="submit">Send</button>
    </form>
  </footer>
</template>

<template name="message">
  <li class="message">
    <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_4_normal.png" alt="" class="avatar">
    <div class="content">
      <span class="ui small timestamp">{{timestamp}}</span>
      <p>{{message}}</p>
    </div>
  </li>
</template>

<template name="tweet">
  <li class="message-tweet">
    <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_2_normal.png" alt="" class="avatar">
    <span>{{timestamp}}</span>
  </li>
</template>
